.sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: var(--accent);
  height: var(--header-height);
  padding: var(--spacing-1) calc(50vw - 500px);
  color: var(--accent-dark-2);
  box-shadow: 0px 2px 4px 0px var(--accent-dark-2-alpha);
}

.header h1, .header {
  font-family: 'Alice';
}

.headerLogo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
  .headerLogo img {
    /* border-bottom: 2px solid var(--accent); */
    box-shadow: 0px 1px 4px 0px var(--accent-dark-2-alpha);
  }

.headerLeft, .headerRight {
  width: calc(50% - 75px);
  display: flex;
  align-items: center;
}

.headerRight {
  justify-content: flex-end;
}
