h1.typewriter {
  font-size: var(--large-font-size);
}

h2.typewriter {
  font-size: var(--medium-font-size);
}

p.typewriter {
  font-size: var(--small-font-size);
}

.centered {
  text-align: center;
}
