.small {
  font-size: var(--small-font-size);
  line-height: var(--small-font-size);
}

.medium {
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-size);
}

.large {
  font-size: var(--large-font-size);
  line-height: var(--large-font-size);
}
