/*
h1.typewriter {
  font-size: var(--font-size-large);
}

h2.typewriter {
  font-size: var(--font-size-medium);
}

p.typewriter {
  font-size: var(--font-size-small);
}
*/

.centered {
  text-align: center;
}
