.paperPreview {
  position: absolute;
  top: 0;
  left: var(--small-margin);
  width: 75vw;
  height: 180px;
  background-color: var(--paper);
  filter: var(--shadow);
  z-index: -1;
}

@media screen and (max-width: 810px) {
  /* paper preview needs to be refactored for mobile because there is no "hover" state */
  .paperPreview {
    display: none;
  }
}
