.button {
  border-radius: 5px;
  text-decoration: none;
  padding: 5px 10px;
}

.primary {
  color: var(--font);
  background-color: var(--accent);
}

.primary:hover {
  background-color: var(--accent-hover);
}

.navButton {
  color: var(--accent-dark-2);
  font-size: 20px;
  padding: 8px;
  margin-left: 0;
  margin-right: var(--spacing-1);
  background: var(--background);
}

.navIcon {
  font-size: 24px;
  border-radius: 50%;
  background-color: var(--background);
  color: var(--accent-dark-2);
  /* padding: 8px 14px; for other font */
  margin-left: 0;
  margin-right: var(--spacing-1);
  padding: 8px;
  padding-bottom: 5px;
}

.navButton:hover, .navIcon:hover {
  border-right: 2px solid var(--accent-dark);
  border-bottom: 2px solid var(--accent-dark);
  margin-left: -2px;
  transition: all 0.01s;
}
