.folderTab {
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0 100%);
  /* extra padding to help center text with clip-path */
  padding-right: 1rem;
  padding-left: 2rem;
  background-color: var(--folder-shadow);
  z-index: -1;
  height: var(--folder-tab-height);
  display: flex;
  align-items: center;
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-size);
}

.folderTab.blankTab {
  padding-left: 90px;
}

.folderTab.active {
  background-color: var(--folder);
}
