.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  margin: var(--spacing-2);
  display: flex;
  column-gap: var(--spacing-2);
  position: absolute;
  top: calc(100% - var(--spacing-2) * 2);
  left: 0;
}

.stamp {
  color: var(--primary);
  flex: 0 0 auto;
}
