.header {
  display: flex;
  justify-content: space-between;
}

.footer {
  padding: var(--spacing-2);
  display: flex;
  column-gap: var(--spacing-2);
  position: absolute;
  bottom: -75px;
  left: 0;
}

.stamp {
  color: var(--primary);
  flex: 0 0 auto;
}
