/***** Variables *****/
:root {
  /* named colors */
  --purple: #6D597A;
  --purple-shaded: #342B3A;
  --yellow: #FAEB76;
  --yellow-shaded: #C8BC5E;
  --graphite: #202020;
  --off-white: #F2E9E4;
  --blue: #768dfa;
  --red: #fa7680;

  /* semi-transparent */
  /* ~60% */
  --off-white-60: #F2E9E499;
  --yellow-60: #FAEB7699;
  --purple-60: #6D597A99;
  /* ~20% */
  --blue-20: #768dfa33;
  --red-20: #fa768033;

  /* all themes */
  --background: var(--purple);

  /* light theme */
  --folder--light: #EEE2C8;
  --folder-shaded--light: #DFD3B7;
  --paper--light: var(--off-white);
  --font--light: var(--graphite);

  /* dark theme */
  --folder--dark: #1E1B20;
  --folder-shaded--dark: #18161A;
  --paper--dark: var(--graphite);
  --font--dark: var(--off-white);

  /* spacing increments */
  --small-margin: 5px;
  --medium-margin: 10px;
  --spacing-1: 10px;
  --spacing-2: 20px;
  /* NOT IN USE
  --spacing-3: 30px;
  --spacing-4: 50px;
  */

  /* fixed sizes */
  --folder-tab-offset: 25px;
  --folder-tab-height: 50px;
  --header-height: calc(var(--folder-tab-offset) + var(--folder-tab-height));

  /* font sizes */
  /*
  --font-size-large: 40px;
  --font-size-medium: 25px;
  --font-size-small: 20px;
  */

  /* elements within `LinedPaper` must use increments of this `line-height` to maintain vertical rhythm */
  --line-height: 1.5rem;

  /* other */
  --shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  --lined-paper: url("/images/linedpaper.png") repeat;
}

/***** Themes *****/
:root, [data-theme="light"] {
  --folder: var(--folder--light);
  --folder-shaded: var(--folder-shaded--light);
  --paper: var(--paper--light);
  --font-color: var(--font--light);
  --highlight: var(--yellow);
  --highlight-60: var(--yellow-60);

}
[data-theme="dark"] {
  --folder-shaded: var(--folder-shaded--dark);
  --paper: var(--paper--dark);
  --font-color: var(--font--dark);
  --highlight: var(--purple-shaded);
  --highlight-60: var(--purple-60);
}

/***** User Preferences *****/
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  :root {
    --folder: var(--folder--dark);
    --folder-shaded: var(--folder-shaded--dark);
    --paper: var(--paper--dark);
    --font-color: var(--font--dark);
    --highlight: var(--purple-shaded);
    --highlight-60: var(--purple-60);
  }
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    transition-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
  }
}

/***** CSS Reset *****/
*, *::after, *::before {
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
ol, ul {
  list-style: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
:focus {
  outline: 0;
}
a {
  text-decoration: none;
}

/***** Globals *****/
html {
  background-color: var(--background);
  color: var(--font-color);
  position: relative;
  line-height: var(--line-height);
}

body {
  padding-top: var(--header-height);
}

html,
body {
  font-family: var(--montserrat);
  overflow-x: hidden;
}

h1 {
  font-family: var(--poppins);
  font-size: 2.5rem;
  line-height: 3.5rem;
}
h2 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-bottom: 0.5rem;
}
h3 {
  font-size: 1.3rem;
}
h4 {
  font-size: 1.1rem;
}

h3,
h4,
h5,
h6 {
  font-weight: 400;
}

ul > li {
  padding-left: 1.2rem;
  position: relative;
}

ul > li:before {
  content: "❖";
  color: var(--purple);
  position: absolute;
  left: 0;
}

::selection {
  background: var(--highlight-60);
}
::-moz-selection {
  background: var(--highlight-60);
}

/***** Responsive Queries *****/
@media (max-width: 815px) {
  :root {
    --animated-font-size: 75px;
    --font-size-large: 35px;
    --font-size-medium: 25px;
    --font-size-small: 15px;
    --folder-tab-height: 45px;
    --folder-tab-offset: 30px;
  }
}
@media (max-width: 710px) {
  :root {
    --font-size-medium: 22px;
    --font-size-small: 13px;
  }
}

@media (max-width: 660px) {
  :root {
    --folder-tab-offset: 75px;
  }
}

@media (max-width: 490px) {
  :root {
    --animated-font-size: 65px;
  }
}

@media (max-width: 410px) {
  :root {
    --animated-font-size: 55px;
    --font-size-large: 33px;
    --font-size-medium: 23px;
    --font-size-small: 13px;
  }
}

@media (max-width: 385px) {
  :root {
    --animated-font-size: 50px;
    --font-size-large: 28px;
    --font-size-medium: 20px;
    --font-size-small: 12px;
  }
}

@media (max-width: 350px) {
  :root {
    --font-size-large: 20px;
    --font-size-medium: 16px;
    --font-size-small: 12px;
    --folder-tab-height: 35px;
  }
}

@media (max-width: 300px) {
  :root {
    --font-size-medium: 13px;
    --medium-margin: 5px;
    --small-margin: 2px;
    --spacing-2: 10px;
    --spacing-1: 5px;
  }
}

@media (max-width: 280px) {
  html {
    min-width: 280px;
  }
}

