.paper {
  position: relative;
  min-height: 120px;
  background: #fff;
  background: url("/images/linedpaper.png") repeat;
  /*line-height: 1.62em;*/
  padding: 20px;
  margin-bottom: 35px;
  filter: var(--shadow);
  line-height: 1.5rem;
}

.paperLeft {
  /*clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 98%);*/
}

.paperRight {
  /*clip-path: polygon(0 0, 100% 2%, 100% 98%, 0 100%);*/
}
