.paper {
  position: relative;
  min-height: 190px;
  background: url("/images/linedpaper.png") repeat;
  line-height: 1.62em;
  padding: 20px;
  padding-top: 30px;
  margin-bottom: 35px;
}

.paperLeft {
  clip-path: polygon(0 4%, 100% 0, 100% 100%, 0 96%);
}

.paperRight {
  clip-path: polygon(0 0, 100% 4%, 100% 96%, 0 100%);
}
