.skillStickers {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    45px
  ); /* TODO: dynamically populate this value based on StickyNote height */
  grid-gap: 22px;
  justify-content: space-evenly;
  margin-bottom: 25px;
}
