.animatedLetter {
  font-family: "AmaticSC", sans-serif;
  display: inline-block;
  /* cursor: pointer; removed for now */
  padding: 0 5px;
}

@media screen and (max-width: 350px) {
  .animatedLetter {
    padding: 0 2px;
  }
}
