.folderTabs {
  position: absolute;
  display: flex;
  top: var(--folder-tab-offset);
  left: var(--small-margin);
  column-gap: var(--small-margin);
}

.folderTab > :first-child {
  clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
  /* extra padding to help center text with clip-path */
  padding-right: 1.5rem;
  padding-left: 1rem;
  background-color: var(--folder-shaded);
  height: var(--folder-tab-height);
  display: flex;
  align-items: center;
  font-size: var(--medium-font-size);
  line-height: var(--medium-font-size);
  transform: translateY(7px);
  transition: transform 400ms ease-in-out;
}
.folderTab:hover > :first-child,
.folderTab:focus :first-child,
.folderTab.active :first-child {
  transform: translateY(0);
}
.folderTab.active span {
  background-color: var(--folder);
}
