.resume {
  text-align: left;
}
.stickyNotes {
  display: flex;
  justify-content: center;
  column-gap: var(--spacing-2);
}

.skills {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(12rem, 1fr)
  );
}

.hobbies {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(16rem, 1fr)
  );
}
