@font-face {
  font-family: "Alice";
  src: url("/fonts/Alice/Alice-Regular.ttf");
}

@font-face {
  font-family: "DancingScript";
  src: url("/fonts/DancingScript/DancingScript-Regular.ttf");
  src: url("/fonts/DancingScript/DancingScript-Bold.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "AmaticSC";
  src: url("/fonts/AmaticSC/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: "OldTypewriter";
  src: url("/fonts/OldTypewriter/fzm-Old.Typewriter.ttf");
}

/** BROKEN **/
@font-face {
  font-family: "Zeyata";
  src: url("/fonts/Zeyada/Zeyada-Regular.ttf");
}

:root {
  /* colors */
  --font: #160300;
  --primary: #fd8469;
  --primary-dark: #fd7456;
  --primary-darker: #fc6442;
  --secondary: #816381;
  --accent: #e9c696;
  --accent-dark: #ba9e78;
  /* not currently in use
  --accent-dark-2: #372f24;
  --accent-dark-2-alpha: #372f2480;
  --accent-hover: #ddb16f;
  */

  /* color names */
  --folder: var(--accent);
  --folder-shadow: var(--accent-dark);
  --background: var(--secondary);

  /* spacing increments */
  --small-margin: 5px;
  --spacing-1: 10px;
  --spacing-2: 20px;
  --spacing-3: 30px;
  --spacing-4: 50px;

  /* fixed sizes */
  --header-height: 75px;
  --folder-tab-height: calc(var(--header-height) - (var(--spacing-1) * 2));
  --folder-tab-offset: 25px;

  /* fonts */
  --core-font: "OldTypewriter";

  /* font sizes */
  --animated-font-size: 100px;
  --large-font-size: 40px;
  --medium-font-size: 30px;
  --small-font-size: 20px;

  /* other */
  --shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/***** Global *****/
html {
  background-color: var(--background);
  color: var(--font);
  position: relative;
  font-family: var(--core-font);
  min-width: 320px;
  overflow-x: hidden;
}

body {
  margin: 0;
}

main {
  padding-top: var(--folder-tab-height);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: var(--spacing-1) 0;
  /* margin-bottom: var(--spacing-2); */
}

hr {
  border-color: var(--accent-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

@media (max-width: 590px) {
  :root {
    --animated-font-size: 80px;
    --large-font-size: 35px;
    --medium-font-size: 25px;
    --small-font-size: 15px;
  }
}

@media (max-width: 490px) {
  :root {
    --animated-font-size: 60px;
    --folder-tab-offset: 70px;
    --header-height: 120px;
  }
}

@media (max-width: 410px) {
  :root {
    --animated-font-size: 40px;
    --large-font-size: 30px;
    --medium-font-size: 20px;
    --small-font-size: 10px;
  }
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/
