@font-face {
  font-family: "AmaticSC";
  src: url("/fonts/AmaticSC/AmaticSC-Bold.ttf");
}

@font-face {
  font-family: "OldTypewriter";
  src: url("/fonts/OldTypewriter/fzm-Old.Typewriter.ttf");
}

:root {
  /* colors */
  --font: #160300;
  --primary: #fd8469;
  --primary-dark: #fd7456;
  --primary-darker: #fc6442;
  --secondary: #816381;
  --accent: #e9c696;
  --accent-dark: #ba9e78;
  /* not currently in use
  --accent-dark-2: #372f24;
  --accent-dark-2-alpha: #372f2480;
  --accent-hover: #ddb16f;
  */

  /* color names */
  --folder: var(--accent);
  --folder-shadow: var(--accent-dark);
  --background: var(--secondary);

  /* spacing increments */
  --small-margin: 5px;
  --medium-margin: 10px;
  --spacing-1: 10px;
  --spacing-2: 20px;
  --spacing-3: 30px;
  --spacing-4: 50px;

  /* fixed sizes */
  --folder-tab-offset: 25px;
  --folder-tab-height: 50px;
  --header-height: calc(var(--folder-tab-offset) + var(--folder-tab-height));

  /* fonts */
  --animated-font: var(--amatic);

  /* font sizes */
  --animated-font-size: 100px;
  --large-font-size: 40px;
  --medium-font-size: 30px;
  --small-font-size: 20px;

  /* other */
  --shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/***** Global *****/
html {
  background-color: var(--background);
  color: var(--font);
  position: relative;
  font-size: var(--small-font-size);
}

body {
  margin: 0;
  padding-top: var(--header-height);
}

html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: var(--spacing-1) 0;
}

hr {
  border-color: var(--accent-dark);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

@media (max-width: 768px) {
  :root {
    --animated-font-size: 75px;
    --large-font-size: 35px;
    --medium-font-size: 25px;
    --small-font-size: 15px;
    --folder-tab-height: 45px;
    --folder-tab-offset: 30px;
  }
}
@media (max-width: 660px) {
  :root {
    --large-font-size: 33px;
    --medium-font-size: 22px;
    --small-font-size: 13px;
  }
}

@media (max-width: 590px) {
  :root {
    --folder-tab-offset: 75px;
  }
}

@media (max-width: 490px) {
  :root {
    --animated-font-size: 65px;
  }
}

@media (max-width: 410px) {
  :root {
    --animated-font-size: 55px;
    --large-font-size: 33px;
    --medium-font-size: 23px;
    --small-font-size: 13px;
  }
}

@media (max-width: 385px) {
  :root {
    --animated-font-size: 45px;
    --large-font-size: 28px;
    --medium-font-size: 20px;
    --small-font-size: 12px;
  }
}

@media (max-width: 350px) {
  :root {
    --animated-font-size: 35px;
    --large-font-size: 20px;
    --medium-font-size: 16px;
    --small-font-size: 12px;
    --folder-tab-height: 35px;
  }
}

@media (max-width: 300px) {
  :root {
    --medium-font-size: 13px;
  }
}

/*
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/
