.folder {
  z-index: 5;
  background-color: var(--folder);
  padding: var(--spacing-2);
  position: relative;
}

.folder::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--folder-texture) repeat;
  opacity: var(--texture-opacity);
  z-index: -1;
}
