.folder {
  background: var(--folder);
  margin: var(--small-margin);
  margin-top: 0;
  /* is this the right spot? */
  padding: var(--spacing-2);
  position: relative;
  min-height: calc(100svh - var(--header-height) - var(--small-margin));
}
